// 颜色
$red: #E51C23;
$red-light: #f44;
$red-dark: #A3162E;
$green: #359903;
$green-light: #4BBF49;
$green-dark: rgb(9, 109, 7);
$blue: #2889d7;
$blue-light: #3195e7;
$blue-dark: #075ea5;
$orange: #ff7f00;
$orange-light: #f60;
$orange-dark: rgb(204, 86, 7);
$pink: #f8518c;
$pink-light: #ee69cd;
$pink-dark: #f84281;
$gray: #666;
$gray-light: #bfbdbd;
$gray-sample: #f8f8f8;
$gray-dark: #333;
$black: #101010;
$black-dark: #001529;
$black-light: #002140;
$white: #ffffff;
// 单位
$unit: rpx;