@mixin multi-ellipsis($lines) {
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  text-overflow: ellipsis;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}